/*-----------------------------------*\
 * #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */











/*-----------------------------------*\
 * #FOOTER
\*-----------------------------------*/

.footer { font-family: var(--ff-roboto); }

.footer-top { background: var(--cultured); }

.footer-brand {
  padding-bottom: 50px;
  border-bottom: 1px solid var(--gainsboro);
  margin-bottom: 50px;
}

.footer-brand .logo { margin-bottom: 15px; }

.social-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.social-link {
  background: var(--gainsboro);
  color: var(--onyx);
  font-size: 20px;
  padding: 10px;
  transition: var(--transition-1);
}

.social-link:is(:hover, :focus) {
  background: var(--bittersweet);
  color: var(--white);
}

.footer-list-title {
  position: relative;
  color: var(--rich-black-fogra-29);
  font-family: var(--ff-josefin-sans);
  font-size: var(--fs-3);
  font-weight: var(--fw-700);
  margin-bottom: 25px;
}

.footer-list-title::after {
  content: "";
  display: block;
  background: var(--bittersweet);
  width: 50px;
  height: 2px;
  margin-top: 10px;
}

.footer-link {
  color: var(--onyx);
  display: flex;
  align-items: center;
  gap: 10px;
  padding-block: 6px;
  transition: var(--transition-1);
}

a.footer-link:is(:hover, :focus) { color: var(--bittersweet); }

.footer-link-text { flex: 1; }

.footer-list:not(:last-child) { margin-bottom: 30px; }

.footer-list:first-child ion-icon {
  color: var(--bittersweet);
  font-size: 22px;
}

.table-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  padding-block: 6px;
}

.table-head {
  color: var(--rich-black-fogra-29);
  font-weight: var(--fw-500);
}

.table-data { color: var(--onyx); }

.newsletter-text {
  color: var(--onyx);
  line-height: 1.7;
  margin-bottom: 20px;
}

.newsletter-form { position: relative; }

.newsletter-input {
  background: var(--white);
  color: var(--onyx);
  padding: 15px 25px;
  padding-right: 120px;
}

.newsletter-form .btn-primary {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  font-family: var(--ff-josefin-sans);
  font-size: var(--fs-6);
  font-weight: var(--fw-600);
  padding-inline: 20px;
}

.footer-bottom {
  background: #24292f;
  padding-block: 20px;
}

.copyright {
  text-align: center;
  color: #FFFFFF;
}

.copyright-link {
  display: inline-block;
  color: #FFFFFF;
}






/*-----------------------------------*\
 * #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 575px screen
 */

@media (min-width: 575px) {

  /**
   * FOOTER
   */

  .footer-brand .logo { margin-bottom: 0; }

  .footer-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-link-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }

}





/**
 * responsive for larger than 768px screen
 */



@media (min-width: 1200px) {

  
  /**
   * FOOTER
   */

  .footer-link-box {
    grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
    gap: 50px;
  }

}